<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
</head>
<body>
<h2>My IP App</h2>
{{{body}}}	
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="js/js.js"></script>
</html>
